{
    "extends": "standard",
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "double"],
        "indent": ["error", 2],
        "no-unreachable": 1
    },
    "env": {
        "browser": false,
        "node": true
    },
    "globals": {
        "jest": true,
        "describe": true,
        "test": true,
        "expect": true
    }
}